/* styles/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fd88b5;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fd88b5;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .header-logo img {
    max-height: 50px; /* Adjust the height as needed */
  }
  
  .header-navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .header-navigation a {
    text-decoration: none;
    color: #fd88b5;
    font-weight: bold;
  }
  
 